img {
    height: 150px;
    width: 250px;
    vertical-align: middle;
     
}
h1 {
    text-align: center;     
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    vertical-align: middle;
}

button h1 {
    margin: 0 auto;
}

